.topSellersConatiner {
    position: absolute;
    left: 300px;
    top: 559px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1028px;
    height: 272px;
}

.topSellersHeading {
    width: 154px;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color:black;
}
.icons {
    width: 1028px;
    height: 200px;
}
.right {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 988px;
    top: 152px;

}
.left {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 152px;
}

.cards {
    position: absolute;
    height: 200px;
    width: 988px;
    height: 200px;
    left: 10px;
    top: -20px;;
}
.multiple-cards {
    /* position: absolute;
    width: 180px;
    height: 200px;
    left: 828.5px;
    top: 72px; */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #2A2D3A;
    border-radius: 20px;
}
.ids1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Black/3 */
    height: 182px;
    width: 180px;
    left: 250px;
    top: 11px;
    border-radius: 20px;
    
    background:black;
    border-radius: 20px;
    }

    .ids2 {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    
        /* Black/3 */
        height: 182px;
        width: 180px;
        left:480px;
        top: 11px;
        border-radius: 20px;
        
        background:black;
        border-radius: 20px;
        }

        .ids3 {
            position: absolute;
            left: 0%;
            right: 0%;
            top: 0%;
            bottom: 0%;
        
            /* Black/3 */
            height: 182px;
            width: 180px;
            left: 715px;
            top: 11px;
            border-radius: 20px;
            
            background:black;
            border-radius: 20px;
            }
            .ids4 {
                position: absolute;
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%;
            
                /* Black/3 */
                height: 182px;
                width: 180px;
                left: 35px;
                top: 11px;
                border-radius: 20px;
                
                background:black;
                border-radius: 20px;
                }

                .ids5 {
                    position: absolute;
                    left: 0%;
                    right: 0%;
                    top: 0%;
                    bottom: 0%;
                
                    /* Black/3 */
                    height: 200px;
                    width: 180px;
                    left: 0px;
                    top: 0px;
                    border-radius: 20px;
                    
                    background:black;
                    border-radius: 20px;
                    }
                


.profile {
    position: absolute;
    width: 88px;
    height: 88px;
    left: -5.5px;
    top: -5px;

    background-color:white;
}
.status{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 61px;
    top: 62px;
    background-color: green;
    }
.check {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 65px;
    top: 66px;
}
.vector {
    width: 87px;
    height: 24px;
    
    /* Paragraph 1 (SemiBold) */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}